@font-face {
    font-family: ProximaNovaBold;
    src: url(../fonts/ProximaNovaBold.otf) format("opentype");
}
html, body{
	background-color:transparent;
	margin:0px;
	padding:0px;
}
.wrapper{
	position:relative;
	font-family: ProximaNovaBold, Times New Roman, Verdana;
	font-size:18pt;
	overflow:hidden;
	color:white;
	height:100vh;
	width:100vw;
}
.error{
	width:500px;
	padding:10px;
	border:1px solid black;
	background-color:white;
	color:black;
	margin:auto;
	text-align:center;
	box-shadow: 2px 2px 2px #888888;
}
.raid{
	background-color:black;
	width:100%;
	height:100%;
	position: relative;
	display:none;
}
.raidmessage{
	color:white;
	text-align:center;
	border-radius: 5px;
	margin:5px;
	padding:7px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.raidmessage img{
	width:125px;
	border-radius: 60px;
}
.username{
	text-transform: capitalize;
	font-size:1.5em;
}


/** Role Colors **/
.username[role=User]{
	color: #37aad5;
}
.username[role=Pro]{
	color: #b143d1;
}
.username[role=Mod], .username[role=ChannelEditor]{
	color: #36e53a;
}
.username[role=Subscriber]{
	color: #36e5be;
}
.username[role=Staff]{
	color :#dcb235;
}
.username[role=Owner]{
	color:white;
}
